<div class="container" style="width: 100%;">
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </button>
        <!-- <span>My App</span> -->
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon routerLink="home">home</mat-icon>
    </button>
        <button routerLink="board" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>dashboard</mat-icon>
    </button>

        <mat-form-field class="invisible">
            <input matInput type="search" class="search-input" placeholder="search">
            <mat-icon>search</mat-icon>
        </mat-form-field>
        <span class="example-spacer"></span>
        <div style="justify-content: center;">
            <img style="width: 40px" src="../../assets/images/checkmark+clipboard+document+list+tracklist+icon-1320167911544323810.png" alt="">
            <span style="font-size:40px;"> Pathwork</span>
        </div>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>add</mat-icon>
    </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>info</mat-icon>
    </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>notifications</mat-icon>
    </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person_pin</mat-icon>
    </button>

    </mat-toolbar>
</div>