.example-spacer {
  flex: 1 1 auto;
}
.example-card {
  // max-width: 1700px;

  align-items: flex-end;
  display:-webkit-box;

  font-size: x-large;
  line-height: 1.2;


}

.example-card1 {
  // max-width: 1000px;
  align-items: flex-end;
  display:-webkit-box;
  line-height: 2.2;
  font-size: x-large;

}


.example-card2 {
  // max-width: 1000px;
  align-items: flex-end;
  display:-webkit-box;
  line-height: 2.2;
  font-size: x-large;


}

.example-card3 {
  // max-width: 1000px;
  align-items: flex-end;
  display:-webkit-box;
  line-height: 2.2;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;

}
.container{
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
}
.ct2{
  display: flex;
  flex-direction: row;
}
