h1 {
    font-size: xxx-large;
    line-height: 1.6;
}

p {
    font-size: x-large;
    font-weight: 300;
}

.container {
    display: flex;
    justify-content: center;
    background-color: skyblue;
}

.paging {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: left;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    padding-right: 5%;
}
.example-card2 {
  max-width: 1000px;
  align-items: flex-end;
  display:-webkit-box;
  line-height: 2.2;
  font-size: x-large;


}
