<app-navbar1></app-navbar1>
<div class="container">
    <div class="paging">
        <div class="content">
            <h1>Pathwork giúp bạn làm việc có tính hợp tác hơn và làm được nhiều hơn</h1>
            <p>Các bảng, danh sách, và thẻ của Pathwork cho phép bạn tổ chức và ưu tiên các dự án của bạn một cách vui vẻ, linh hoạt và xứng đáng.</p>
        </div>
        <img src="../../assets/images/hero-a.svg" height="100%" alt="">
    </div>
</div>

<mat-card style="box-shadow: none; justify-content: flex-end;" class="example-card1">
    <mat-card-header>
        <img style="border-radius: 4% ;" mat-card-image src="../../assets/images/team_work_background_cheering_employee_icons_cartoon_design_6836009.jpg" alt="">
        <mat-card-title style="font-size: xxx-large;line-height: 1.6;margin: inherit;margin: 10%;">
            Làm việc với bất kỳ nhóm nào
            <mat-card-content>
                <p style="font-size: x-large;font-weight: 300;">
                    Dù là cho công việc, dự án phụ hay kỳ nghỉ cùng gia đình sắp tới, Pathwork sẽ luôn giúp tổ chức sắp xếp nhóm của bạn.
                </p>
            </mat-card-content>
        </mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card style="box-shadow: none;" class="example-card2">
    <img style="border-radius: 5% ;" src="../../assets/images/style-bande-dessinee-plat-business-target-team-work-puzzle_44695-178.jpg" alt="">

    <mat-card-title style="font-size: xxx-large;line-height: 1.6;margin: inherit;width: 40%; margin-left: 40px;">
        Thông tin nhanh
        <mat-card-content class="picture">
            <p style="font-size: x-large;font-weight: 300;margin-bottom: 0%;">
                Đi vào chi tiết bằng cách thêm bình luật, tệp đính kèm, ngày hết hạn và trực tiếp hơn vào thẻ Pathwork. Cộng tác trên các dự án từ đầu đến cuối.
            </p>
        </mat-card-content>
    </mat-card-title>

</mat-card>


<mat-card style="box-shadow: none;" class="example-card3">
    <mat-card-header>
        <img style="border-radius: 10% ;width: 40%;" mat-card-image src="../../assets/images/8.gif" alt="">
        <mat-card-title style="font-size: xxx-large;line-height: 1.6;margin:10%">
            Tự động hóa quy trình làm việc tích hợp sẵn với Butler
            <mat-card-content style="font-size: x-large;font-weight: 300;">
                Tăng năng suất bằng cách giải phóng sức mạnh tự động hóa trong toàn bộ nhóm của bạn với Butler và xóa các tác vụ tẻ nhạt khỏi các danh sách việc cần làm của bạn với:
                <ul>
                    <li>Kích hoạt dựa trên quy tắc</li>
                    <li>Thẻ tùy chỉnh & các nút bảng</li>
                    <li>Lệnh lịch</li>
                    <li>Lệnh ngày hết hạn</li>
                </ul>
            </mat-card-content>
        </mat-card-title>
    </mat-card-header>
</mat-card>



<div style="display: flex;align-items: center;justify-content: center;    background-color: azure;border: deepskyblue;">
    <div style="display: flex;flex-direction: row; border-radius: 4%;">
        <div class="content6" style="display:flex; flex-direction: column;align-items: center;">
            <img style="width: 450px;" src="../../assets/images/541-5413275_teamwork-vector-illustration.png" alt="">
            <mat-card-title style="font-size: 1.25em; margin: 0;padding: 2%;">Playbook nhóm</mat-card-title>
            <p style="padding: 5%;font-size: medium;">Thật dễ dàng để thúc đẩy nhóm của bạn lên và hoạt động với Pathwork. Chúng tôi đã thu thập tất cả các bảng và công cụ bạn cần để thành công trong một nguồn lực có sẵn.</p>
        </div>

        <div class="content7" style="display:flex;flex-direction: column;align-items: center;">
            <img style="width: 309px; ;" src="../../assets/images/129345431-team-success-vector-concept-illustration-business-leader-people-celebrating-victory-man-and-woman-wi.jpg" alt="">
            <mat-card-title style="font-size: 1.25em;padding: 2%;">Nền tảng Hiệu quả</mat-card-title>
            <p style="padding: 20px;font-size: medium;">Tích hợp trực tiếp các ứng dụng mà nhóm của bạn đã sử dụng vào quy trình làm việc của bạn. Phần mở rộng biến bảng Pathwork thành các ứng dụng sống động giúp đáp ứng nhu cầu kinh doanh riêng của nhóm bạn.
            </p>
        </div>

        <div class="content8" style="display:flex; flex-direction: column;text-align: center;align-items: center">
            <img style="width: 324px;" src="../../assets/images/charts_and_statistics.png">
            <mat-card-title style="font-size: 1.25em;padding: 2%;">Luôn Đồng bộ</mat-card-title>
            <p style="padding: 6%;font-size: medium;">Dù bạn ở đâu, Pathwork cũng đồng bộ với tất cả các thiết bị của bạn. Cộng tác với nhóm của bạn ở bất kỳ nơi đâu từ ngồi trên xe buýt đến ngồi trên bờ biển.</p>
        </div>
    </div>
</div>