<p>
  <mat-card *ngIf="authService.user==null" class="my-card">
      <mat-card-actions>
          <form class="my-form">
            <img src="https://cdn.iconscout.com/icon/free/png-256/list-484-1126444.png" alt="" style="width: 100px;display: flex;height: 80px; justify-content: center; padding-left: 46%" >
            <br>
            <mat-form-field style="display: flex;justify-content: center; margin-bottom: 2px" appearance="fill">
              <mat-label>Enter gmail</mat-label>
              <input matInput >

            </mat-form-field>
              <br>
              <mat-form-field style="display: flex;justify-content: center; margin-bottom: 2px" appearance="fill">
                <mat-label>Enter password </mat-label>
                <input matInput >

              </mat-form-field>

              <br>
              <mat-form-field style="display: flex;justify-content: center;margin-bottom: 2px" appearance="fill">
                <mat-label>Import password</mat-label>
                <input matInput >

              </mat-form-field>
              <br>
              <h1 style="display: flex;justify-content: center; font-size: 14px;margin-bottom: 2px">By signing up, you confirm that you've read and accepted our Terms of Service and Privacy Policy.</h1>
              <br>

              <mat-card-actions style="display: flex;justify-content: center;margin-bottom: 2px">
                  <button mat-raised-button  (click)='this.authService.lgin()'
                      aria-label="Sign-out" color="primary">Sign up</button>
              </mat-card-actions>
              <br>
            <h1 style="display: flex;justify-content: center;">OR</h1>
            <br>
            <mat-card-actions style="display: flex;justify-content: center;margin-bottom: 2px">
              <button mat-raised-button  (click)='this.authService.lgin()'
                  aria-label="Sign-in" color="primary"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/753px-Google_%22G%22_Logo.svg.png" width="20px" height="20px"> Tiếp tục với Google</button>
            </mat-card-actions>


          </form>
      </mat-card-actions>

  </mat-card>
</p>
