ul{
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}


.ulbtn>h2,.ulbtn .btnstyle{
  padding-left: 30px;
  box-sizing: border-box;
}
.icon{
    height: 32px;
    line-height: 32px;
    width: 32px;
}

.font{
  display: inline-block;
  color: #172b4d;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
  font-size: large;
  font-weight: bold;
}

.board-img{
  border-radius: 3px;
  display: block;
  border: none;
  position: relative;
  text-decoration: none;
  background-size: cover;
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  cursor: pointer;
  background-color: rgb(93, 188, 210);
  width: 200px;
  height: 130px;
  line-height: 20px;
  opacity: 1;
  transition: 0.3s;
}

.board-img:hover{
  opacity: 0.6;
}



.ulbtn{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  // display: block;
}

.innav{
    margin: 40px 0 0;
    padding: 0 16px;
    width: 240px;
}

.libtn{
  margin-bottom: 4px;
  display: list-item;
}

.btnstyle{
  cursor: pointer;
  border:none;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: none;
  display: flex;
  font-weight: 700;
  margin: 0;
  min-height: 20px;
  overflow: hidden;
  padding: 6px 8px 6px 0;
  text-decoration: none;
  width: 100%;
  font-size: large;
}

.btnstyle:hover{
  background-color: #e4f0f6;
  color: #0079bf;
}

.ultable{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.inli{
  padding: 5px;
}



.newboard{
  border-radius: 3px;
  display: block;
  border: none;
  position: relative;
  text-decoration: none;
  background-size: cover;
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  cursor: pointer;
  background-color: #97a0af;
  width: 200px;
  height: 130px;
  line-height: 20px;
  opacity: 1;
  transition: 0.3s;
}

.newboard:hover{
  opacity: 0.5;
}

.newboardword{
  top: 5px;
  left: 5px;
  color: white;
  font-size: large;
  font-weight: 700;
}


.wordintable{
  position: absolute;
  text-align: left;
  top: 5px;
  left: 5px;
  color: white;
  font-size: large;
  font-weight: 700;
}

#cont{
  display: flex;
  flex-direction: row;
}


