<div id ="cont">
  <div style="width: 20%;">
        <ul class="ulbtn">
          <li class="libtn"><button class="btnstyle"><mat-icon style="margin-right:8px;">dashboard</mat-icon>Bảng</button></li>
          <li class="libtn"><button class="btnstyle"><mat-icon style="margin-right:8px;">developer_board</mat-icon>Mẫu</button></li>
          <li class="libtn"><button class="btnstyle"><mat-icon style="margin-right:8px;">home</mat-icon>Home page</button></li>
          <h2 style="margin-top: 10%;">Các nhóm</h2>
          <li class="libtn"><button class="btnstyle"><mat-icon style="margin-right:8px;">add</mat-icon>Tạo nhóm</button></li>
        </ul>
  </div>



  <div>
    <div >
      <div>
        <mat-icon class="icon">person</mat-icon>
        <h3 class="font">Bảng Cá Nhân</h3>
      </div>
      <div>
        <ul class="ultable">
          <li class="inli">
            <button style="padding: 8px;" class="board-img"><a class="wordintable">My table</a></button>
          </li>
          <li class="inli">
            <button style="padding: 8px;" class="newboard"><a class="newboardword">Tạo bảng</a></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
