<div class="container">
  <p>
    <mat-toolbar>
      <span style="font-size: 40px;font-weight: 500;"><img style="width: 40px"
          src="../../assets/images/checkmark+clipboard+document+list+tracklist+icon-1320167911544323810.png" alt="">
        Pathwork</span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>dashboard</mat-icon>
      </button>
    </mat-toolbar>
    <mat-card style="box-shadow: none;" class="example-card">
      <mat-card-header>
        <img mat-card-image src="../../assets/images/hero-a.svg" alt="">
        <mat-card-title style="font-size: xxx-large;line-height: 1.6;margin: inherit;width: 90%;">
          Pathwork helps you work more collaboratively and do more.
          <mat-card-content>
            <p style="font-size: x-large;font-weight: 300;">
              Pathwork boards, lists, and cards allow you to happily organize and prioritize your projects in a
              fun, flexible, and rewarding way.
            </p>
          </mat-card-content>
        </mat-card-title>
      </mat-card-header>
    </mat-card>

  </p>
</div>

<mat-card style="box-shadow: none;" class="example-card1">
  <mat-card-header>
    <img style="border-radius: 4% ;" mat-card-image
      src="../../assets/images/team_work_background_cheering_employee_icons_cartoon_design_6836009.jpg" alt="">
    <mat-card-title style="font-size: xxx-large;line-height: 1.6;margin: inherit;">
      Work with any group.
      <mat-card-content>
        <p style="font-size: x-large;font-weight: 300;">
          Whether for work, side projects, or upcoming family vacation, Pathwork will help organize your team.
        </p>
      </mat-card-content>
    </mat-card-title>
  </mat-card-header>
</mat-card>

<mat-card style="box-shadow: none;" class="example-card2">
  <img style="border-radius: 4% ;" mat-card-image
    src="../../assets/images/style-bande-dessinee-plat-business-target-team-work-puzzle_44695-178.jpg" alt="">

    <mat-card-title style="font-size: xxx-large;line-height: 1.6;margin: inherit;width: 40%;padding: 10%;">
      Quick news
      <mat-card-content class="picture">
        <p style="font-size: x-large;font-weight: 300;margin-bottom: 0%;">
          Get into the details by adding comments, attachments, expiration dates and more directly to Pathwork cards.
          Collaborate on projects from start to finish.
        </p>
      </mat-card-content>
    </mat-card-title>

</mat-card>


<mat-card style="box-shadow: none;" class="example-card3">
  <mat-card-header>
    <img style="border-radius: 10% ;width: 40%;" mat-card-image
      src="../../assets/images/8.gif" alt="">
    <mat-card-title style="font-size: xxx-large;line-height: 1.6;margin: inherit;">
      Workflow automation integrated with Butler
      <mat-card-content style="font-size: x-large;font-weight: 300;">
        <p >
          Let the robot work! Increase productivity by unleashing the power of automation across your entire team with
          Butler and removing tedious tasks from your to-do lists with:
        </p>
        <ul >
          <li>Activation is based on rules</li>
          <li>Custom tags & table buttons</li>
          <li>Calendar orders</li>
          <li>Order expiration date</li>
        </ul>
      </mat-card-content>
    </mat-card-title>
  </mat-card-header>
</mat-card>
