<!-- <div class="container"> -->
<!-- <div *ngIf="dashDB.length ==  0"> -->

<!-- </div> -->


<!-- <div> -->
<!-- <input type="text" [(ngModel)]="boxname"> -->
<!-- <button (click)="newBox()">asdas</button> -->
<!-- </div>
 -->
<!-- <div *ngFor="let it of dashDB"> -->
<!-- <p>{{it.boxName}}</p> -->
<!-- <div class="dboard container"> -->
<p class="add-box box1" *ngFor="let item of dbtam">{{item.noidung}}</p>
<app-dash-box-item (onAddEvent)="pushdtb($event)"></app-dash-box-item>
<!-- </div> -->
<!-- </div> -->




<!-- <button (click)="check()">chekc</button> -->